<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title><%= current_page.data.title %></title>
    <meta name="description" content="Some design work by Monica Kogler" />
    <!-- Open Graph data -->
    <meta property="og:title" content="It's me, Monica" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.monicakogler.com" />
    <meta property="og:image" content="http://www.monicakogler.com/images/og.jpg" />
    <meta property="og:description" content="Some design work by Monica Kogler" />
    <meta property="og:site_name" content="monicakogler.com" />
    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_tag 'site' %>
    <link href='https://fonts.googleapis.com/css?family=Overpass:600,700' rel='stylesheet'>
    <script>
      /* Set width of side navigation to 360px */
      function openNav() {
        document.getElementById('sidenav').style.width = '30rem';
      }
      /* Set width of the side navigation to 0 */
      function closeNav() {
        document.getElementById('sidenav').style.width = '0';
      }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-101124711-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id='header'>
      <a href='/' id='logo'><img src='/images/logo@2x.png' width='48' height='48'/></a>
      <span onclick='openNav()' id='menu'><img src='/images/menu.svg' width='48' height='48' /></span>
    </div>
    <nav id='sidenav' class='sidenav'>
      <a href='javascript:void(0)' class='closebtn' onclick='closeNav()'><img src='/images/close.svg' width='48' height='48' /></a>
      <%= current_link_to 'Home', '/' %>
      <h6>Selected client work</h6>
      <%= current_link_to 'Baggu', '/baggu' %>
      <%= current_link_to 'Twist', '/twist' %>
      <%= current_link_to 'BTR Energy', '/btr-energy' %>
      <%= current_link_to 'Transcriptic', '/transcriptic' %>
      <h6>Contact</h6>
      <a href='mailto:monica@campsh.com'>Say hi</a>
    </nav>
    <%= yield %>
    <div id='footer'></div>
  </body>
</html>
